.head_bar {
	height: 52px;
	text-align: center;
}
.head_bar h1 img {
	margin-top: 0px;
}
#donations_head {
	text-align: center;
}
#donations_head h1 {
	font-size: 16px;
}
#donations_head .add-btn-right {
	float: right;
}
.logo {
	margin: 10px auto 0 auto;
	width: 305px;
}
.centered {
	text-align: center;
}
.f_right {
	float: right;
}
h3 {
	margin: 0 0 20px 0;
}
p.donation_note {
	margin-top: -15px;
}
p.claimback_note {
	font-size: 10px;
}
.footer_buttons {
	float:left;
}
.footer_copyright {
	float:right;
	margin-right: 30px;
}