.head_bar {
	height: 52px;
}
.head_bar h1 img {
	margin-top: 0px;
}
.logo {
	margin: 10px auto 0 auto;
	width: 305px;
}
.centered {
	text-align: center;
}
.f_right {
	float: right;
}
h3 {
	margin: 0 0 20px 0;
}
p.donation_note {
	margin-top: -15px;
}
p.claimback_note {
	font-size: 10px;
}